body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

/* Image container */
.image-container {
    position: relative;
    flex-basis: 100%;
}

/* Woods image (background) */
.woods {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Transparent Odin Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%; /* 1/3 of the total height */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Odin logo */
.odin {
    width: 100px; /* Adjust size */
    opacity: 0.8;
}

/* Odin Title */
.odin-title {
    font-family: 'Knewave', cursive;
    font-size: 40px;
    color: white;
    margin-top: 10px;
}

/* Form container */
.form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Intro section */
.intro {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Form section */
.form {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* Button section */
.button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling */
.grey {
    background-color: rgba(207, 207, 207, 0.917);
}

button {
    border-radius: 5px;
    font-size: large;
    color: white;
    background-color: #596D48;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #596D48;
}

p {
    font-weight: bold;
}
